@font-face {
    font-family: Tektur;
    src: url('../images/intro.otf') format('opentype');
  }
  

.page {
    color: white;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}


.page::before {
    content: "";
    background-image: url('../images/font.jpg'); 
    background-size:100% 100%; 
    background-repeat: no-repeat;
    background-position: center top;
    box-sizing: border-box;
    z-index: -1;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}



@keyframes rotateNeon {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes glow {
            0%, 100% {
                box-shadow: 0 0 40px 10px #ffffff, 0 0 40px 10px #ffffff;
            }
            50% {
                box-shadow: 0 0 40px 10px #ffffff, 0 0 40px 10px #ffffff;
            }
        }



.neon-circle {
    margin-top: 253px;
    width: 220px;
    height: 58px;
    border: 2px solid;
    border-color: rgb(37, 77, 163);
    z-index: 5;
    align-items: center;
    border-radius: 15px;
}


.page__rate-image {
    max-width: 40px;
    max-height: 40px;
    margin-right: 25px;
}

.page__rate-wrapper {
    display: flex;
    flex-direction: column;
}

.page__rate-title {
    color: #ffc300;
    font-weight: bold;
    font-size: 12px;
    margin: 0;
}

.page__rate-subtitle {
    font-size: 12px;
    margin: 0;
}


.betting {
    position: absolute;
    margin-top: 260px;
    margin-right: 0px;
    font-size: 40px;
    font-weight: 900;
    z-index: 5;
    transition: font-size 0.4s ease;
    font-family: Tektur;
    font-style: normal;
    text-align: center;
    
}
.fly {
    position: absolute;
    margin-top: 265px;
    margin-right: 0px;
    font-size: 57px;
    font-weight: 900;
    z-index: 5;
    transition: font-size 0.4s ease;
    font-family: Tektur;
    font-style: normal;
    
}



.rocket {
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center top;
    box-sizing: border-box;
    max-width: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 30px auto 0 auto;
    transition: all 0.32s ease 0s;
    z-index: 1;
}


@keyframes fly {
    0% {
    transform: translate(25px, 10px);
      }
    
    50% {
    transform: translate(350px, -175px);
    }

   

    100% {
    transform: translate(25px, 10px);
    }
  }

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    }


